body{
    font-family: 'Nunito', sans-serif;
}
.encabezado{
    text-align: center;
}
.botones{
    text-align: center;
}
.boton{
    border: 1px solid white;
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 10px;
    display:inline-flex;
}